<!-- Container -->

<section class="container">
  <div class="text">
    <h2>Start your vacation <br> with Lots of Services!</h2>
  </div>

  <div class="row-items">
    <div class="container-box">
      <div class="container-img">
        <img src="./assets/img/trip1.png" alt="">
      </div>
      <h4>Ship Cruises</h4>
      <p>150 properties</p>
    </div>

    <div class="container-box">
      <div class="container-img">
        <img src="./assets/img/trip2.png" alt="">
      </div>
      <h4>Food Tours</h4>
      <p>150 properties</p>
    </div>

    <div class="container-box">
      <div class="container-img">
        <img src="./assets/img/trip3.png" alt="">
      </div>
      <h4>Summer Rest</h4>
      <p>150 properties</p>
    </div>

    <div class="container-box">
      <div class="container-img">
        <img src="./assets/img/trip4.png" alt="">
      </div>
      <h4>Mountain Tour</h4>
      <p>150 properties</p>
    </div>
  </div>
</section>